# .gitconfig
# Sam Harrison 2018
# MIT License: a full version of the license is included in the LICENSE file.

[user]
	name = Sam Harrison
	email = 28861239+sharrison5@users.noreply.github.com

[color]
	ui = auto

[core]
	attributesfile = ~/.gitattributes
	excludesfile = ~/.gitignore
	# Highlight non-ascii and trim long lines when paging
	pager = LESSCHARSET=ascii less -S

[diff]
	# Try harder to give cleaner diffs
	algorithm = histogram
	# Better prefixes than a/ b/
	mnemonicPrefix = true
	# Detect copies as well as renames
	renames = copies
	# Always show whitespace errors
	wsErrorHighlight = all

[merge]
	# More useful display of merge conflicts
	conflictStyle = diff3

[pull]
	# Only fast-forward merges allowed when pulling
	# Can always pass --ff to override
	ff = only

[push]
	# Push (reachable) annotated tags by default
	followTags = true

[status]
	# Always show paths relative to base dir, even if elsewhere
	relativePaths = false
	# Show brief branch summary when doing status --short
	branch = true
